<!DOCTYPE html>
<html ng-app="mainApp">

    <head>
        <title>#{get 'title' /}</title>

        <link rel="stylesheet" href="@{'public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" href="@{'public/stylesheets/font-awesome.css'}">
        <link rel="stylesheet" href="@{'public/stylesheets/basic.css'}">
        <link rel="stylesheet" href="@{'public/stylesheets/dropzone.css'}">
        <link rel="stylesheet" href="@{'public/stylesheets/theme.css'}">
        
    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        #{doLayout /}

        <!-- Footer -->
        <footer>
            <div class="container text-center">
                <p>Copyright &copy; <span class="logo">qbi<span>K</span></span></p>
            </div>
        </footer>
        <script src="@{'public/javascripts/jquery-1.11.1.js'}"></script>
        <script src="@{'public/javascripts/angular.js'}"></script>
        <script src="@{'public/javascripts/bootstrap.js'}"></script>
        <script src="@{'public/javascripts/grayscale.js'}"></script>
        <script src="@{'public/javascripts/dropzone.js'}"></script>
        <script src="@{'public/javascripts/scripts.js'}"></script>
        <script src="@{'public/javascripts/app.js'}"></script>

    </body>

</html>